@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*font-family: 'Raleway',
sans-serif;
font-family: 'Montserrat',
sans-serif;*/

body {
    font-family: 'Raleway', sans-serif;
}

.color-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.padding {
    padding: 0 12px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-btm-10 {
    padding-bottom: 10px;
}

.padding-btm-20 {
    padding-bottom: 20px;
}

.padding-btm-30 {
    padding-bottom: 30px;
}

.padding-btm-50 {
    padding-bottom: 50px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.margin-btm-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}

.white-color {
    color: #fff;
}

.menubar {
    background-color: transparent;
    border: none;
}

.menubar-nav {
    margin-top: 10px;
}

.menubar .menubar-nav>li>a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.menubar .menubar-nav>li>a:hover {
    color: #4baf4f;
}

.menubar .menubar-nav>.active>a,
.menubar .menubar-nav>.active>a:focus,
.menubar .menubar-nav>.active>a:hover {
    color: #fff;
    background-color: #32913f;
    padding: 12px 15px;
}

.affix {
    background-color: rgba(55, 143, 59, .9);
}

.banner {
    padding-top: 200px;
    min-height: 640px;
    background-position: center;
    background-image: url(../img/banner-home.jpg);
    background-repeat: no-repeat;
}

.banner img {
    border: 2px solid #fff;
    border-radius: 6px;
}

.banner p {
    max-width: 556px;
}


/*About*/

.feature-intro {
    color: #4baf4f;
}

.features {
    color: #333333;
    font-size: 18px;
    padding-top: 20px;
}

.features li {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    counter-increment: li;
    position: relative;
    line-height: 40px;
    padding-bottom: 15px;
    padding-left: 12px;
}

.features li:before {
    content: counter(li);
    position: absolute;
    left: -53px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #7cb93b;
    background: #e5f1d8;
    font-size: 24px;
    line-height: 47px;
}


/*price section*/

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    z-index: 2;
}

.price-bg {
    background-image: url(../img/price-bg.png);
    background-size: cover;
}

.pricing-head {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.pricing-body>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    padding: 0px;
}

.pricing-body>.selectplan-bg-yell {
    background-color: #FFCB00;
    padding: 1px;
}

.pricing-body>.selectplan-bg-green {
    background-color: #4baf4f;
    padding: 1px;
}

.pricing-body>.selectplan-bg-blue {
    background-color: #5d82d1;
    padding: 1px;
}

.pricing-body .panel-body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.pricing-body .panel-footer.yell {
    background-color: transparent;
    border-bottom: 5px solid #FFCB00;
}

.pricing-body .panel-footer.yell button {
    background-color: #FFCB00;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    box-shadow: 0 5px 0 #d7ae0c;
    outline: 0;
    transition: all .1s linear;
}

.pricing-body .panel-footer.yell button:active {
    box-shadow: 0 2px 0 #d7ae0c;
    transform: translateY(3px);
}

.pricing-body .panel-footer.gree {
    background-color: transparent;
    border-bottom: 5px solid #4baf4f;
}

.pricing-body .panel-footer.gree button {
    background-color: #4baf4f;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    box-shadow: 0 5px 0 #377d3a;
    outline: 0;
    transition: all .1s linear;
}

.pricing-body .panel-footer.gree button:active {
    box-shadow: 0 2px 0 #377d3a;
    transform: translateY(3px);
}

.pricing-body .panel-footer.blu {
    background-color: transparent;
    border-bottom: 5px solid #5d82d1;
}

.pricing-body .panel-footer.blu button {
    background-color: #5d82d1;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    box-shadow: 0 5px 0 #3f5788;
    outline: 0;
    transition: all .1s linear;
}

.pricing-body .panel-footer.blu button:active {
    box-shadow: 0 2px 0 #3f5788;
    transform: translateY(3px);
}


/*Team*/

.team-thumbnail {
    min-height: 387px;
    padding: 0px;
    border: 1px solid #4BAF4F;
}


/*
.team-thumbnail>img {
    width: 100%;
}*/

.team-thumbnail .caption>h4 {
    min-height: 40px;
}

.team-thumbnail .caption>h5 {
    color: #4baf4f;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}

.team-thumbnail .caption p {
    color: #020202;
    font-family: 'Montserrat', sans-serif;
}

.box {
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.teambox1 {
    background: url(../img/sujeet.jpg);
    background-size: cover;
    overflow: hidden;
}

.teambox2 {
    background: url(../img/chanjal.jpg);
    background-size: cover;
    overflow: hidden;
}

.teambox3 {
    background: url(../img/diwakar.jpg);
    background-size: cover;
    overflow: hidden;
}

.overlay {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    padding: 106px 0 80px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.box:hover .overlay {
    opacity: 1;
}

.plus {
    color: rgba(255, 255, 255, .85);
    font-size: 35px;
    padding: 0px 5px;
}

.plus:hover {
    color: #4baf4f;
}


/*contact*/

.contactbg {
    background-color: #222222;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}

.contact-text {
    color: #fff;
    font-weight: 600;
}

.contact-text span {
    color: #4baf4f;
    font-weight: 600;
    font-size: 30px;
}


/*footer*/

.footer-bg {
    background-color: #4baf4f;
}

.footer-copyright {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.social-icon a {
    font-size: 35px!important;
    color: #fff;
}


/*
.social-icon .fa-facebook-square:hover {
    color: #4c6bab!important;
}

.social-icon .fa-google-plus-square:hover {
    color: #c85041!important;
}

.social-icon .fa-linkedin-square:hover {
    color: #238cc8!important;
}

.social-icon .fa-twitter-square:hover {
    color: #36a3d0!important;
}*/

.social-popout {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    display: inline;
}

.social-popout a {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    margin: 8px;
    width: 100%;
}

.social-popout a:hover {
    margin: 0px;
    box-shadow: 6px 6px 4px 4px rgba(0, 0, 0, 0.3);
}

.b-to-t {
    position: fixed;
    bottom: 7px;
    right: 106px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0 6px;
    font-size: 35px;
    background-color: #4baf4f;
    color: #fff;
}

.b-to-t:hover {
    color: #fff;
}

.image-hover-effect:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition-duration: 1s;
}

@media screen and (max-width: 767px) {
    .menubar-toggle {
        margin-top: 18px;
    }
    .menubar .menubar-toggle {
        border-color: #4baf4f;
    }
    .menubar .menubar-toggle:hover,
    .menubar .menubar-toggle:focus {
        background-color: #4baf4f;
    }
    .menubar .menubar-toggle .icon-bar {
        background-color: #fff;
    }
    .mobile-center {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .pricing-body .panel-body .pricing-min-height {
        min-height: 44px;
    }
    .mobile-center {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .mobile-text-center {
        text-align: center;
    }
}
