/**
 * Global definitions for the client
 * Fonts and colors are defined in lace
 */

// Font settings
$font-family-normal: "Source Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif !default;
$font-family-headings: "Source Sans", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$font-size: 18px !default;
$font-size-mobile: 16px !default;
$font-line-height: 1.625 !default;

// Colors
$accent-color: #6cd860 !default;
